:host{
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  height: 57px;
  line-height: 57px;
}

:host:before, :host:after{
  content: '';
  position: absolute;
  top: auto;
  height: 57px;
  background-color: inherit;
  width: 8px;
}

:host:before{
  left: 0px;
}

:host:after{
  right: 0px;
}

md-icon{
  position: relative;
  top: 8px;
}

button[disabled][disabled]{
  color: #b4b4b4;
}

button.active[disabled][disabled]{
  color: #ffd740;
  text-decoration: underline;
}

#continue-button{
  position: absolute;
  right: 10px;
  transform: translateY(10px);
}
