<span color="warn" *ngIf="error">{{error}}</span>
<code>{{name}}</code><br>
<code>required: {{requirements}}</code><br>
<code>{{status}} {{cmdOutput}}</code>
<md-progress-spinner *ngIf="!cmdCompleted" mode="indeterminate"></md-progress-spinner>
<md-icon class="refresh" *ngIf="cmdCompleted && !isValid" (click)="refresh()">refresh</md-icon>
<button *ngIf="cmdCompleted && !isValid" md-raised-button color="warn" (click)="update()">UPDATE</button>
<md-icon class="checked" *ngIf="cmdCompleted && isValid" color="accent">check_circle</md-icon>
