:host{
  display: block;
  position: relative;
}

code{
  white-space: pre;
  display: inline-block;
}

md-progress-spinner{
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  float: right;
  top: 14px;
  position: absolute;
  right: 40px;
  z-index: 1;
}

button, md-icon{
  position: absolute;
  top: 8px;
}

md-icon{
  line-height: 36px;
  cursor: default;
  right: 40px;
}

button{
  right: 10px;
}
