ace-editor, json-schema-form{
  width: 575px;
}

ace-editor{
  height:150px;
}

:host >>> .md-input-placeholder,
:host >>> .md-select-placeholder,
:host >>> .md-select-trigger,
:host >>> .md-select-arrow{
  color: inherit;
}

:host >>> .md-input-underline{
  border-color: currentColor;
}
